* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-image: url('https://cdn.pixabay.com/photo/2018/08/15/11/57/galaxy-3607885_960_720.jpg');
  background-size: auto 100vh;
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  font-size: 14px;
}

/* se a tela tiver pelo menos 400px vai carregar esses estilos*/
@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 26px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu {
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 1;
}
  
.menu ul {
  display: flex;
  justify-content: space-around;
}
  
.menu li {
  list-style: none;
}
  
.menu a {
  display: block;
  padding: 8px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:hover {
  background-color: rgb(101, 0, 148);
  color: whitesmoke;
}

a {
  color: rgb(101, 0, 148);
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(5vh);
  opacity: 0;

  animation: linear 1s animacaoTitulo forwards;
}

/* Efeito de animação*/
@keyframes animacaoTitulo {
  0% {
    transform: scale(0.3) translateY(5vh);
  opacity: 0;
  }
  
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 3.5em;
  font-family: 'Major Mono Display', monospace;
}
  
.site-subtitle {
  font-style: normal;
  font-family: 'Cutive Mono', monospace;
  line-height: 2em;
}

.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

.contato h2,
.portfolio h2 {
  font-family: 'Cutive Mono', monospace;
  color: whitesmoke;
  margin-bottom: 2em;
  font-size: 2em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  justify-content: center;
}

@media (min-width: 560px) {
  .portfolio .grid {
    gap: 2em;
    grid-template-columns: 260px 260px;
    justify-content: center;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    gap: 2em;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 260px;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2);
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgb(159, 109, 252);
}